<template>
    <div class="sections">
        <!--{{searchQuery}}-->
        <div class="tag" v-bind:key="tag.text" :class="compute_tag_style(tag.css)" v-for="tag in filtered_tags"
             @mouseover="on_mouse_over(tag.css)" @mouseleave="on_mouse_out(tag.css)">
            <div class="tag__text"><a class="tag_link" :href="tag.url">{{tag.text}}</a></div>
            <div class="tag__planet"></div>
        </div>

    </div>
</template>

<script>
  export default {
    name: "nash-sections",
    props: [
      'searchQuery'
    ],
    methods: {
      on_mouse_over(e) {
         
        this.hoveredTag = e 

        console.log('on_mouse', e)
      },
      on_mouse_out(e) {
        console.log('on_mouse_out', e)
        this.hoveredTag = ''

      },
      compute_tag_style(tagIndex) {
        // return ''
        if (this.searchQuery) {
          return ''
        }
        if (!this.hoveredTag) {
          return tagIndex
        }
        if (tagIndex !== this.hoveredTag) {
          return tagIndex + '  tag--dim'
        }
        return tagIndex
      },
    },
    computed: {

      filtered_tags() {
        if (!this.searchQuery) {
          return this.tags
        }

        let return_value = []
        for (let i = 0; i < this.tags.length; i++) {
          let text = this.tags[i].text
          console.log(text)
          if (text.toLowerCase().indexOf(this.searchQuery.toLowerCase()) >= 0) {
            return_value.push(this.tags[i])
          }
        }
        return return_value
      },
      dimmer_class() {
        if (this.hoveredTag) {
          return 'dimmer--active'
        }
        return ''
      }
    },
    data() {
      let i = 0
      let hoveredTag = ''

        var db = firebase.firestore();
        db.settings({
            timestampsInSnapshots: true
        });

        let tags = []
        db.collection("front-tags").orderBy("order").get().then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
                let item = doc.data();
                item.css = "tag--" + item.order
                tags.push(item)
                console.log(`${doc.id} => ${JSON.stringify(doc.data())}`);
            });
        });
        let tags_old = [
        {
          text: 'Оформление',
          css: 'tag--' + i++
        },
        {
          text: 'Штат',
          css: 'tag--' + i++
        },
        {
          text: 'Ведущие',
          css: 'tag--' + i++
        },
        {
          text: 'Сетка',
          css: 'tag--' + i++
        },
        {
          text: 'Форматы',
          css: 'tag--' + i++
        },
        {
          text: 'Эффектный старт',
          css: 'tag--' + i++
        },
        {
          text: 'Колоборации',
          css: 'tag--' + i++
        },
        {
          text: 'Промо-компания',
          css: 'tag--' + i++
        },
        {
          text: 'Вещание на донецк, Луганск и Крым',
          css: 'tag--' + i++
        },
        {
          text: 'Регионы и приложение для них',
          css: 'tag--' + i++
        },
        {
          text: 'Медиа-школа',
          css: 'tag--' + i++
        },
        {
          text: 'Коммерческий отдел',
          css: 'tag--' + i++
        },
        {
          text: 'Гостевая служба',
          css: 'tag--' + i++
        },
        {
          text: 'PR-Отдел',
          css: 'tag--' + i++
        },
        {
          text: 'Интернет',
          css: 'tag--' + i++
        },
        {
          text: 'Продакшн',
          css: 'tag--' + i++

        },
        {
          text: 'Служба новостей',
          css: 'tag--' + i++
        },
        {
          text: 'Как заработать денег',
          css: 'tag--' + i++
        },
      ]
      return {
        tags,
        hoveredTag
      }
    },
  }
</script>

<style scoped>

    .sections {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-weight: bold;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1.5fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-auto-flow: column;
        grid-gap: 4em;
        margin-left: 60px;
        height: 93vh;
        /*overflow: hidden;*/

    }

    .dimmer {
        position: fixed;
        width: 100%;
        height: 150%;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: .24;
        background-color: antiquewhite;
    }

    .tag {
        height: 120px;
        color: white;
        font-size: 2em;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px black;
        position: relative;
        transform: scale(1);
        transition: .3s all;
        cursor: pointer;
        padding-top: 2em;
        max-width: 400px;
    }

    .tag--dim {
        opacity: 0.45;
    }

    .tag:hover {
        transform: scale(1.4);
    }

    a{
        color: white;
        text-decoration: none;
    }

    .tag--0 {
        left: 150px;
        top: 30px;
    }

    .tag--1 {
        left: 70px;
        font-size: 2.5em;
    }

    .tag--2 {
        left: 105px;
        top: -80px;
        font-size: 2.7em;

    }

    .tag--3 {
        left: 140px;
        top: -30px;
        font-size: 2.4em;

    }

    .tag--4 {
        top: 85px;
        left: 166px;
        font-size: 3em;

    }

    .tag--5 {
        top: 95px;
        left: 101px;
        font-size: 1.6em;

    }

    .tag--6 {
        top: -130px;
        left: 30px;
        font-size: 2.3em;

    }

    .tag--7 {
        top: -80px;
        left: 50px;
    }

    .tag--8 {
        top: 50px;
        left: -120px;
        font-size: 1.76em;

    }

    .tag--9 {
        top: 30px;
        left: 30px;
        font-size: 1.5em;

    }

    .tag--10 {
        top: 30px;
        left: -19px;
        font-size: 1.87em;

    }

    .tag--11 {
        top: 30px;
        left: -230px;
        font-size: 1.7em;

    }

    .tag--12 {
        top: 70px;
        left: -190px;
        font-size: 1.5em;

    }

    .tag--13 {
        top: 134px;
        left: -410px;
        font-size: 3em;

    }

    .tag--14 {
        top: -10px;
        left: -180px;
        font-size: 2.5em;

    }

    .tag--15 {
        top: -96px;
        left: -190px;
        font-size: 3.4em;

    }

    .tag--16 {
        top: 180px;
        left: -430px;
    }

    .tag--17 {
        top: 170px;
        left: -390px;
        font-size: 1.6em;

    }

    .tag--2 .tag__planet,
    .tag--4 .tag__planet,
    .tag--6 .tag__planet,
    .tag--8 .tag__planet {
        width: 0.4em;
        height: 0.4em;
    }

    .tag--3 .tag__planet,
    .tag--9 .tag__planet {
        width: 0.6em;
        height: 0.6em;
    }

    .tag--1 .tag__planet,
    .tag--5 .tag__planet {
        width: 0.4em;
        height: 0.4em;
    }

    .tag--10 .tag__planet,
    .tag--12 .tag__planet,
    .tag--14 .tag__planet,
    .tag--16 .tag__planet {
        width: 0.4em;
        height: 0.4em;
    }

    .tag--11 .tag__planet,
    .tag--13 .tag__planet,
    .tag--15 .tag__planet,
    .tag--17 .tag__planet {
        width: 0.55em;
        height: 0.55em;
    }

    .tag--large .tag__planet {
        top: 140%;

    }

    .tag--peoples {
        position: relative;
        top: -60px;
        font-size: 3em;
    }

    .tag__planet {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,ffffff+100 */
        background: rgb(125, 126, 125); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
        width: 0.7em;
        height: 0.7em;
        display: inline-block;
        box-shadow: 1px 1px 3px #00000082;
        /*position: absolute;*/
        /*top: 90%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, 0);*/
        border-radius: 50%;

    }

    @media all and (max-width: 600px) {
        .sections {
            display: block;
            /*grid-template-rows: 2fr 2fr 2fr;*/
        }

        .tag--large {
            font-size: 2em;

        }

        .tag--peoples {
            position: static;
            top: 0;
            font-size: 2.2em;
        }

        .sections {
            padding-bottom: 5em;
        }
    }


    @media all and (max-height: 900px) {
        .sections {
            padding-top: 0em;
            /*min-height: 700px;*/
            /*max-height: 700px;*/
            grid-template-rows: 1.1fr 1fr 1.1fr 1fr;
            font-size: 0.8em;

        }

        .tag--0 {
            left: 150px;
            top: 80px;
        }

        .tag--2 {
            left: 80px;
            top: 10px;
        }


        .tag--4 {
            top: 30px;
            left: 150px;
        }
        .tag--5 {
            left: 50px;
            top: -35px;
        }
        .tag--6 {
               /*left: 50px;*/
               top: -65px;
           }

        .tag--8 {
            /*left: 50px;*/
            top: -15px;
        }
        .tag--10 {
            top: 95px;
            left: -87px;
        }
        .tag--14 {
            left: -230px;
            /*top: -65px;*/
        }
        .tag--16 {
            left: -400px;
            top: 156px;
        }
    }
    @media all and (max-height: 768px) {
        .sections {
            /*min-height: 700px;*/
            /*max-height: 700px;*/
            font-size: .6em;
            padding: 0em;
            grid-gap: 8em;


        }
        .tag {
            padding: 1em;
            width: 220px;
        }

    }
    @media all and (min-height: 1500px) {
        .sections {
            /*min-height: 700px;*/
            /*max-height: 700px;*/
            grid-template-rows: 2.0fr 3.5fr 2.6fr 1.6fr;
            font-size: 1.5em;

        }

        .tag {
        }
    }

    @media all and (min-height: 1800px) {
        .sections {
            /*min-height: 700px;*/
            /*max-height: 700px;*/
            font-size: 1.9em;

        }

        .tag {
            margin: 0em;
        }
    }
    @media all and (max-width: 768px) {
        .sections {
            /*display: flex;*/
            grid-template-columns: 1fr 1fr;
            /*grid-template-rows: 2fr 1fr 1fr;*/
            grid-auto-flow: row;
        }
        .tag--0,
        .tag--1,
        .tag--2,
        .tag--3,
        .tag--4,
        .tag--5,
        .tag--6,
        .tag--7,
        .tag--8,
        .tag--9,
        .tag--10,
        .tag--11,
        .tag--12,
        .tag--13,
        .tag--14,
        .tag--15,
        .tag--16{
            top: 0;
            left: 0;
        }
    }
    @media all and (max-width: 478px) {
        .sections {
            display: flex;
            flex-direction: column;
            /*grid-template-columns:  1fr;*/
            /*grid-template-rows: 2fr 1fr 1fr;*/
            /*grid-auto-flow: row;*/
            /*overflow: scroll;*/
            height: auto;
        }
        .tag {
            height: 100px;
            display: block;
            width: 100%;
            padding: 0;
        }

    }
    .circle:hover:before,
    .circle:hover:after {
        -webkit-animation: none;
        animation: none;
    }



</style>
<style>
    @media all and (max-width: 600px) {
        html {
            overflow: auto;
        }
    }

</style>