<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--<link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <script src="particles.js"></script>
    <!-- Firebase App is always required and must be first -->

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-firestore.js"></script>


    <script>
        var config = {
            apiKey: "AIzaSyDh9UFSeWS54Ciae7TPv2IKOm71UGaRZ1k",
            authDomain: "nashtv-337e4.firebaseapp.com",
            databaseURL: "https://nashtv-337e4.firebaseio.com",
            projectId: "nashtv-337e4",
            storageBucket: "nashtv-337e4.appspot.com",
            messagingSenderId: "959180963933"
        };
        firebase.initializeApp(config);
    </script>

    <title>front</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but front doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
