<template>
    <div :class="bg_class +' '+ platform_class">

        <div id="app" class="background " v-on:mousewheel="scroll_advance" :style="scroll_bg_style"
             v-on:DOMMouseScroll="scroll_advance">

            <img alt="Vue logo" class="logo" src="./assets/logo_n_small.png">
            <!--<div id="app" class="background"  v-on:mousewheel="scroll_advance">-->
            <div class="home">
                <div class="checkbox-container" @click="toggle_bg">
                    <!--<input type="checkbox" v-model="bg_disabled" title="Disable"/>Disable Background-->
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Search..." class="search-container__input" v-model="search_query"
                           title="Disable"/>
                </div>
                <div id="js-particles"></div>

                <div class="scroll-container" :style="scroll_container_style">
                    <!--<div class="scroll-container" :class="scrollStyle">-->

                    <nash-sections :searchQuery="search_query"></nash-sections>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import NashSections from './components/nash-sections.component'

    export default {
        name: 'nash-app',
        data() {
            let currentOffset = 0
            let scrollContainerScale = 0.1
            let bg_disabled = false
            let search_query = ''
            let bg_num = Math.floor(Math.random() * 3)
            let default_bg = 'body--with-bg-' + bg_num



            return {
                currentOffset,
                scrollContainerScale,
                bg_disabled,
                search_query,
                default_bg
            }
        },

        mounted() {
            this.scrollStyle = 'scroll-container--in'

            setTimeout(() => {
                this.scrollContainerScale = 1
            }, 10)
            console.log('mounted')

            let params = {
                'particles': {
                    'number': {
                        'value': 460,
                        'density': {
                            'enable': true,
                            'value_area': 800
                        }
                    },
                    'color': {'value': '#ffffff'},
                    'shape': {
                        'type': 'circle',
                        'stroke': {
                            'width': 0,
                            'color': '#000000'
                        },
                        'polygon': {'nb_sides': 5},
                        'image': {
                            'src': 'img/github.svg',
                            'width': 100,
                            'height': 100
                        }
                    },
                    'opacity': {
                        'value': 1,
                        'random': true,
                        'anim': {
                            'enable': true,
                            'speed': 1,
                            'opacity_min': 0,
                            'sync': false
                        }
                    },
                    'size': {
                        'value': 3,
                        'random': true,
                        'anim': {
                            'enable': false,
                            'speed': 4,
                            'size_min': 0.3,
                            'sync': false
                        }
                    },
                    'line_linked': {
                        'enable': false,
                        'distance': 150,
                        'color': '#ffffff',
                        'opacity': 0.4,
                        'width': 1
                    },
                    'move': {
                        'enable': true,
                        'speed': 1,
                        'direction': 'none',
                        'random': true,
                        'straight': false,
                        'out_mode': 'out',
                        'bounce': false,
                        'attract': {
                            'enable': false,
                            'rotateX': 600,
                            'rotateY': 600
                        }
                    }
                },
                'interactivity': {
                    'detect_on': 'canvas',
                    'events': {
                        'onhover': {
                            'enable': true,
                            'mode': 'bubble'
                        },
                        'onclick': {
                            'enable': true,
                            'mode': 'repulse'
                        },
                        'resize': true
                    },
                    'modes': {
                        'grab': {
                            'distance': 400,
                            'line_linked': {'opacity': 1}
                        },
                        'bubble': {
                            'distance': 250,
                            'size': 0,
                            'duration': 2,
                            'opacity': 0,
                            'speed': 3
                        },
                        'repulse': {
                            'distance': 400,
                            'duration': 0.4
                        },
                        'push': {'particles_nb': 4},
                        'remove': {'particles_nb': 2}
                    }
                },
                'retina_detect': true
            }
            window.particlesJS('js-particles',

                params
            )


        },


        components: {
            NashSections
        },
        methods: {
            load_firebase_data() {


            },
            scroll_advance(evt) {
                // debugger
                this.currentOffset -= evt.deltaY ? evt.deltaY : evt.detail * 10
                let max_offset = 1000
                if (this.currentOffset > max_offset) {
                    this.currentOffset = max_offset
                }
                if (this.currentOffset < -max_offset) {
                    this.currentOffset = -max_offset
                }

                console.log(evt)
            },
            toggle_bg(evt) {
                console.log('toggler')
                this.bg_disabled = !this.bg_disabled
            }
        },

        computed: {
            scroll_container_style() {

                return {
                    transform: `translateY(${this.currentOffset}px) scale(${this.scrollContainerScale})`
                    // transform: ` scale(${this.scrollContainerScale})`
                }
            },
            platform_class() {
                // this is to make touchbar scrolling more pefomant on macbook
                var isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0
                if (isMac) {
                    return 'running_on_macos'
                }
                return 'non_mac'
            },
            scroll_bg_style() {
                return {
                    transform: `translateY(${this.currentOffset / 10}px)`
                }
            },
            bg_class() {
                if (!this.bg_disabled) {
                    return this.default_bg
                }
                return ''
            }

        },
    }
</script>
<style lang="scss">

    html, body {
        margin: 0;
        padding: 0;
        background-color: #000;

    }

    .body--with-bg-0 {
        background: url("assets/back_3.jpg") no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;

    }

    .body--with-bg-1 {
        background: url("assets/back_2.jpg") no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;

    }

    .body--with-bg-2 {
        background: url("assets/back.png") no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;

    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
        /*width: 100%;*/
    }

    * {
        box-sizing: border-box;
    }

    .scroll-container {
        transform: scale(0.1);
        z-index: 111;
        /*width: 2200px;*/
        max-height: 100vh;
        /*overflow: scroll;*/

    }

    @media all and (max-width: 478px) {
        .scroll-container {
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
            height: auto;
        }

    }

    .scroll-container--in {
        transform: scale(1);

    }

    .checkbox-container {
        color: white;
        z-index: 1111;
        text-align: right;
        padding-right: 600px;
        cursor: pointer;
    }

    .search-container {
        position: absolute;
        top: 1em;
        left: 150px;
        z-index: 11111;
        color: white;

    }

    .search-container__input {
        background-color: transparent;
        font-family: 'Fira Sans Extra Condensed', sans-serif;

        border: none;
        border-bottom: antiquewhite solid 1px;
        color: white;
    }

    #js-particles {
        /*min-height: 100vh;*/
        /*min-width: 100vw;*/
        /*background-color: honeydew;*/
        /*opacity: 0.4;*/
        top: 45px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        /*pointer-events: none;*/

    }

    .background {
        min-height: 100vh;
        min-width: 120vw;
        position: relative;
        left: -100px;
        top: 0;
        /*background-color: #000;*/

    }

    .background,
    .scroll-container {
        transition: 0.45s all;
    }

    .running_on_macos .background,
    .running_on_macos .scroll-container {
        transition: 0.05s all;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    .logo {
        position: absolute;
        top: 50%;
        /*left: 50%;*/
        left: calc(50% - 100px);

        transform: translate(-50%, -50%);
        max-height: 9em;
    }

    @media all and (max-width: 478px) {
        .background {
            text-align: center;
        }
        .logo {
            position: relative;
            left: 0;
            transform: translate(0, 0);

        }
        .search-container {
            top: 95px;
        }

    }

    @media all and (max-height: 800px) {
        .logo {
            /*top: 0;*/
            /*left: 50%;*/
            /*  transform: translate(-50%,0);*/

        }
    }

    @media all and (max-width: 768px) {
        body {
            overflow-y: hidden;
            overflow-x: hidden;
            /*width: 100%;*/
        }
    }

    .home {
        min-height: 100vh;
    }

</style>
