<template>

</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import NashSections from '../components/nash-sections.component'

export default {
  name: 'home',
  components: {
    HelloWorld,
    NashSections
  }
}
</script>

<style scoped>



</style>
